h1 {
    color: #00215E;
    font-size: 35px;
}

h3 {
    color: #00215E;
    font-size: 20px;
}

p {
    color:#00215E;
}

* {
   text-align: center;
   font-family: "Gill Sans", sans-serif;
}

.image-content {
    width: 130px; 
    height: auto;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
}

.ant-wrapped {
    max-width: 100%;
    height: auto; 
}