body {
    background-color: rgb(248, 245, 240);
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#00215E;
    font-size: 18px;
}

h1 {
    color: #00215E;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h3 {
    color: #00215E;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

* {
   text-align: center;
}

.header-oval {
    position: absolute;
    width: 300px;
    height: 100px;
    background: #2C4E80;
    border-radius: 20%;
    color: #2C4E80;
    top: 20;
    left: 10;
    z-index: -3;
}

.homepage-description {
    height: auto;
    width: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
}

.zen-woman-img {
    height: auto;
    width: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 40%;
    margin-bottom: 50px; 
}
    
.zen-woman-wrapped {
    max-width: 600%;
    height: auto; 
}

.zen-woman-background {
    background-color: #c7edff;
}

.brain-heart-img {
    height: auto;
    width: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 48%;
    margin-bottom: 20px;
}

.brain-heart-wrapped {
    max-width: 600%;
    height: auto;
}

.brain-heart-background {
    background-color: white;
}

.about-us-img {
    width: 330px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-bottom: 60px;
    margin-top: 50px;
}

.cute-brain-wrapped {
    max-width: 100%;
    height: auto;
}

.about-text {
    font-size: 18px;
    width: 700px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 73px;
    margin-bottom: 60px;
    margin-top: 50px;
}

.footer-image {
    width: 130px; 
    height: auto;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16rem;
    margin-right: 16rem;
    margin-top: 50px;
}

.ant-wrapped {
    max-width: 100%;
    height: auto; 
}
