<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> PlanMyWeek</title>
        <link rel="icon" type="image/png" href="./images/ant-vector.png">
        <link rel="stylesheet" href="./stylesheet.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="jquery-3.7.1.min.js"></script>
        <script src="../app/app.js"></script>
        <script src="../app/home.js"></script>
        <script src="../app/services/db.js"></script>
    </head>

    <body>
        <header class="header">
            <h1> PlanMyWeek </h1>
            <div class="logo">
                <img src="./images/ant-vector.png" class="logo-wrapped">
            </div>
            <nav class="menu-items">
                <ul class="menu-list">
                    <li><a href="index.html"> Home </a></li>
                    <li><a href="about-us.html"> About Us </a></li>
                    <li><a href="signin.html"> Sign in/Sign up</a></li>
                </ul>
            </nav>  
        </header>

        <h1>
            About Us
        </h1>
        <div class="about-us-img">
            <img src="./images/calm-brain.png" class="cute-brain-wrapped"/>
        </div>
        <div class="about-text">
           <p>
            Introducing the Ultimate Weekly Planner - your personal time-management wizard. 
            <br/> Input your work schedules, tasks, and personal goals (like finally hitting the gym three times a week) and watch it conjure a realistic, easy-to-follow schedule just for you. 
            <br/> Whether you're a student juggling classes, a professional balancing meetings, or simply someone striving for that elusive work-life balance, this planner is your secret weapon.
            </p> 
        </div>
        <div>
            <img src="./images/cute-ant-vector.png" class="ant-wrapped"/>
        </div>
        <h3> Why an ant as our mascot? </h3>
        <p>
            Ants showcase remarkable intelligence and discipline through their effective communication, problem-solving skills, and structured social hierarchy.
            <br/> Their resilience, discipline, and ability to thrive in different environments make them truly fascinating and underestimated creates!
        <p>    
            Their efficient communication, problem-solving skills, and structured social organization reflect the app's focus on better time management, goal achievement, and improved discipline. Just as ants work together to achieve their goals, the app helps users organize their tasks and stay productive.
        </p>
        
        <footer>
            <div class="footer-image">
                <img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped">
            </div>
            <h3>Quick Links</h3>
                <div class="footer-links">
                    <a href="./index.html" style="color: #00215E ;">Home | </a><a href="./signin.html" style="color: #00215E;">Sign In | </a><a href="./about-us.html" style="color: #00215E;">About Us | </a><a href="./contact-us.html" style="color: #00215E;">Contact Us</a>
                </div>
            <p></p>
            <div class="footer-bottom">
                &copy; 2024 PlanMyWeek | Designed by Samira Hamadneh
            </div>
        </footer>

    </body>
</html>