<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> PlanMyWeek</title>
        <link rel="icon" type="image/png" href="./images/ant-vector.png">
        <link rel="stylesheet" href="./stylesheet.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="jquery-3.7.1.min.js"></script>
        <script src="../app/app.js"></script>
    </head>

    <body>
        <header class="header">
            <h1> PlanMyWeek </h1>
            <div class="logo">
                <img src="./images/ant-vector.png" class="logo-wrapped">
            </div>
            <nav class="menu-items">
                <ul class="menu-list">
                    <li><a href="index.html"> Home </a></li>
                    <li><a href="about-us.html"> About Us </a></li>
                    <li><a href="signin.html"> Sign in/Sign up</a></li>
                </ul>
            </nav>    
        </header>

        <table id="calendar-box">
            <tr id="DayOfWeek">
                <th>  </th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            <tr class="boxes">
                <td>6am</td>
                <td class="sixam"></td>
                <td class="sixam"></td>
                <td class="sixam"></td>
                <td class="sixam"></td>
                <td class="sixam"></td>
                <td class="sixamW"></td>
                <td class="sixamW"></td>
            </tr>
            <tr class="boxes">
                <td>7am</td>
                <td class="space" id="sevenam" data-hover="Goal: Gym"></td>
                <td class="space" id="sevenam" data-hover="Goal: Gym"></td>
                <td class="space" id="sevenam" data-hover="Goal: Gym"></td>
                <td class="space" id="sevenam" data-hover="Goal: Gym"></td>
                <td class="space" id="sevenam" data-hover="Goal: Gym"></td>
                <td class="space" id="sevenamW"></td>
                <td class="space" id="sevenamW"></td>
            </tr>
            <tr class="boxes">
                <td>8am</td>
                <td class="space" id="eightam"></td>
                <td class="space" id="eightam"></td>
                <td class="space" id="eightam"></td>
                <td class="space" id="eightam"></td>
                <td class="space" id="eightam"></td>
                <td class="space" id="eightamW"></td>
                <td class="space" id="eightamW"></td>
            </tr>
            <tr class="boxes">
                <td>9am</td>
                <td class="space" id="nineam" data-hover="Work"> </td>
                <td class="space" id="nineam" data-hover="Work"></td>
                <td class="space" id="nineam" data-hover="Work"></td>
                <td class="space" id="nineam" data-hover="Work"></td>
                <td class="space" id="nineam" data-hover="Work"></td>
                <td class="space" id="nineamW"></td>
                <td class="space" id="nineamW"></td>
            </tr>
            <tr class="boxes">
                <td>10am</td>
                <td class="space" id="tenam" data-hover="Work"></td>
                <td class="space" id="tenam" data-hover="Work"></td>
                <td class="space" id="tenam" data-hover="Work"></td>
                <td class="space" id="tenam" data-hover="Work"></td>
                <td class="space" id="tenam" data-hover="Work"></td>
                <td class="space" id="tenamW"></td>
                <td class="space" id="tenamW"></td>
            </tr>
            <tr class="boxes">
                <td>11am</td>
                <td class="space" id="elevenam" data-hover="Work"></td>
                <td class="space" id="elevenam" data-hover="Work"></td>
                <td class="space" id="elevenam" data-hover="Work"></td>
                <td class="space" id="elevenam" data-hover="Work"></td>
                <td class="space" id="elevenam" data-hover="Work"></td>
                <td class="space" id="elevenamW"></td>
                <td class="space" id="elevenamW"></td>
            </tr>
            <tr class="boxes">
                <td>12pm</td>
                <td class="space" id="twelvepm" data-hover="Work"></td>
                <td class="space" id="twelvepm" data-hover="Work"></td>
                <td class="space" id="twelvepm" data-hover="Work"></td>
                <td class="space" id="twelvepm" data-hover="Work"></td>
                <td class="space" id="twelvepm" data-hover="Work"></td>
                <td class="space" id="twelvepmW"></td>
                <td class="space" id="twelvepmW"></td>
            </tr>
            <tr class="boxes">
                <td>1pm</td>
                <td class="space" id="onepm" data-hover="Work"></td>
                <td class="space" id="onepm" data-hover="Work"></td>
                <td class="space" id="onepm" data-hover="Work"></td>
                <td class="space" id="onepm" data-hover="Work"></td>
                <td class="space" id="onepm" data-hover="Work"></td>
                <td class="space" id="onepmW"></td>
                <td class="space" id="onepmW"></td>
            </tr>
            <tr class="boxes">
                <td>2pm</td>
                <td class="space" id="twopm" data-hover="Work"></td>
                <td class="space" id="twopm" data-hover="Work"></td>
                <td class="space" id="twopm" data-hover="Work"></td>
                <td class="space" id="twopm" data-hover="Work"></td>
                <td class="space" id="twopm" data-hover="Work"></td>
                <td class="space" id="twopmW"></td>
                <td class="space" id="twopmW"></td>
            </tr>
            <tr class="boxes">
                <td>3pm</td>
                <td class="space" id="threepm" data-hover="Work"></td>
                <td class="space" id="threepm" data-hover="Work"></td>
                <td class="space" id="threepm" data-hover="Work"></td>
                <td class="space" id="threepm" data-hover="Work"></td>
                <td class="space" id="threepm" data-hover="Work"></td>
                <td class="space" id="threepmW"></td>
                <td class="space" id="threepmW"></td>
            </tr>
            <tr class="boxes">
                <td>4pm</td>
                <td class="space" id="fourpm" data-hover="Work"></td>
                <td class="space" id="fourpm" data-hover="Work"></td>
                <td class="space" id="fourpm" data-hover="Work"></td>
                <td class="space" id="fourpm" data-hover="Work"></td>
                <td class="space" id="fourpm" data-hover="Work"></td>
                <td class="space" id="fourpmW"></td>
                <td class="space" id="fourpmW"></td>
            </tr>
            <tr class="boxes">
                <td>5pm</td>
                <td class="space" id="fivepm" data-hover="Work"></td>
                <td class="space" id="fivepm" data-hover="Work"></td>
                <td class="space" id="fivepm" data-hover="Work"></td>
                <td class="space" id="fivepm" data-hover="Work"></td>
                <td class="space" id="fivepm" data-hover="Work"></td>
                <td class="space" id="fivepmW"></td>
                <td class="space" id="fivepmW"></td>
            </tr>
            <tr class="boxes">
                <td>6pm</td>
                <td class="space" id="sixpm"></td>
                <td class="space" id="sixpm"></td>
                <td class="space" id="sixpm"></td>
                <td class="space" id="sixpm"></td>
                <td class="space" id="sixpm"></td>
                <td class="space" id="sixpmW"></td>
                <td class="space" id="sixpmW"></td>
            </tr>
            <tr class="boxes">
                <td>7pm</td>
                <td class="space" id="sevenpm" data-hover="Goal: Learn Spanish"></td>
                <td class="space" id="sevenpm" data-hover="Goal: Learn Spanish"></td>
                <td class="space" id="sevenpm" data-hover="Goal: Learn Spanish"></td>
                <td class="space" id="sevenpm" data-hover="Goal: Learn Spanish"></td>
                <td class="space" id="sevenpm" data-hover="Goal: Learn Spanish"></td>
                <td class="space" id="sevenpmW" data-hover="Goal: Learn Spanish"></td>
                <td class="space" id="sevenpmW" data-hover="Goal: Learn Spanish"></td>
            </tr>
            <tr class="boxes">
                <td>8pm</td>
                <td class="space" id="eightpm"></td>
                <td class="space" id="eightpm"></td>
                <td class="space" id="eightpm"></td>
                <td class="space" id="eightpm"></td>
                <td class="space" id="eightpm"></td>
                <td class="space" id="eightpmW"></td>
                <td class="space" id="eightpmW"></td>
            </tr>
            <tr class="boxes">
                <td>9pm</td>
                <td class="space" id="ninepm"></td>
                <td class="space" id="ninepm"></td>
                <td class="space" id="ninepm"></td>
                <td class="space" id="ninepm"></td>
                <td class="space" id="ninepm"></td>
                <td class="space" id="ninepmW"></td>
                <td class="space" id="ninepmW"></td>
            </tr>
            <tr class="boxes">
                <td>10pm</td>
                <td class="space" id="tenpm"></td>
                <td class="space" id="tenpm"></td>
                <td class="space" id="tenpm"></td>
                <td class="space" id="tenpm"></td>
                <td class="space" id="tenpm"></td>
                <td class="space" id="tenpmW"></td>
                <td class="space" id="tenpmWT" data-hover="Task: Finish MSc project website"></td>
            </tr>
            <tr class="boxes">
                <td>11pm</td>
                <td class="space" id="elevenpm"></td>
                <td class="space" id="elevenpm"></td>
                <td class="space" id="elevenpm"></td>
                <td class="space" id="elevenpm"></td>
                <td class="space" id="elevenpm"></td>
                <td class="space" id="elevenpmW"></td>
                <td class="space" id="elevenpmW"></td>
            </tr>

<!--            <div id="weekday8-4">
                <div class="eightam"></div>
                <div class="nineam"></div>
                <div class="tenam"></div>
                <div class="elevenam"></div>
                <div class="twelvepm"></div>
                <div class="onepm"></div>
                <div class="twopm"></div>
                <div class="threepm"></div>
                <div class="fourpm"></div>
            </div>
            <div id="weekday9-5">
                <div class="nineam"></div>
                <div class="tenam"></div>
                <div class="elevenam"></div>
                <div class="twelvepm"></div>
                <div class="onepm"></div>
                <div class="twopm"></div>
                <div class="threepm"></div>
                <div class="fourpm"></div>
                <div class="fivepm"></div>
            </div>
            <div id="weekday12-9">
                <div class="twelvepm"></div>
                <div class="onepm"></div>
                <div class="twopm"></div>
                <div class="threepm"></div>
                <div class="fourpm"></div>
                <div class="fivepm"></div>
                <div class="sixpm"></div>
                <div class="sevenpm"></div>
                <div class="eightpm"></div>
                <div class="ninepm"></div>
            </div>
            <div id="weekend7-3">
                <div class="7amW"></div>
                <div class="8amW"></div>
                <div class="9amW"></div>
                <div class="10amW"></div>
                <div class="11amW"></div>
                <div class="12pmW"></div>
                <div class="1pmW"></div>
                <div class="2pmW"></div>
                <div class="3pmW"></div>
            </div>
            <div id="weekend10-7">
                <div class="10amW"></div>
                <div class="11amW"></div>
                <div class="12pmW"></div>
                <div class="1pmW"></div>
                <div class="2pmW"></div>
                <div class="3pmW"></div>
                <div class="4pmW"></div>
                <div class="5pmW"></div>
                <div class="6pmW"></div>
                <div class="7pmW"></div>
            </div>
            <div id="weekend12-9">
                <div class="12pmW"></div>
                <div class="1pmW"></div>
                <div class="2pmW"></div>
                <div class="3pmW"></div>
                <div class="4pmW"></div>
                <div class="5pmW"></div>
                <div class="6pmW"></div>
                <div class="7pmW"></div>
                <div class="8pmW"></div>
                <div class="9pmW"></div>
            </div> -->
        </table>

        <footer>
            <div class="footer-image">
                <img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped">
            </div>
            <h3>Quick Links</h3>
                <div class="footer-links">
                    <a href="./index.html" style="color: #00215E ;">Home | </a><a href="./signin.html" style="color: #00215E;">Sign In | </a><a href="./about-us.html" style="color: #00215E;">About Us | </a><a href="./contact-us.html" style="color: #00215E;">Contact Us</a>
                </div>
            <p></p>
            <div class="footer-bottom">
                &copy; 2024 PlanMyWeek | Designed by Samira Hamadneh
            </div>
        </footer>

    </body>
</html>