<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> PlanMyWeek</title>
        <link rel="icon" type="image/png" href="./images/ant-vector.png">
        <link rel="stylesheet" href="./stylesheet.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="jquery-3.7.1.min.js"></script>
        <script src="../app/app.js"></script>
        <script src="../app/home.js"></script>
        <script src="../app/services/db.js"></script>
    </head>

    <body>
        <header class="header">
            <h1> PlanMyWeek </h1>
            <div class="logo">
                <img src="./images/ant-vector.png" class="logo-wrapped">
            </div>
            <nav class="menu-items">
                <ul class="menu-list">
                    <li><a href="index.html"> Home </a></li>
                    <li><a href="about-us.html"> About Us </a></li>
                    <li><a href="signin.html"> Sign in/Sign up</a></li>
                </ul>
            </nav>
        </header>

        <h1> Contact Us </h1>
        <p> Have a question? Send us a message! </p>
        <form action="/submit-contact" method="post">
            <label for="name"> Name: </label>
            <input type="text" id="name" name="name" required />
            <p></p>
            <label for="email"> Email: </label>
            <input name="emailaddress" type="email" id="email" required />
            <p></p>
            <label for="message"> Message: </label>
            <textarea name="message" id="message" rows="5" required> Type your message...</textarea>
            <p></p>
            <button class="button-56" role="button">Submit</button>
        </form>

        <footer>
            <div class="footer-image">
                <img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped">
            </div>
            <h3>Quick Links</h3>
                <div class="footer-links">
                    <a href="./index.html" style="color: #00215E ;">Home | </a><a href="./signin.html" style="color: #00215E;">Sign In | </a><a href="./about-us.html" style="color: #00215E;">About Us | </a><a href="./contact-us.html" style="color: #00215E;">Contact Us</a>
                </div>
            <p></p>
            <div class="footer-bottom">
                &copy; 2024 PlanMyWeek | Designed by Samira Hamadneh
            </div>
        </footer>


    </body>
</html>