<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> PlanMyWeek</title>
        <link rel="icon" type="image/png" href="./images/ant-vector.png">
        <link rel="stylesheet" href="./stylesheet.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="jquery-3.7.1.min.js"></script>
        <script src="../app/app.js"></script>

    </head>

    <body>
        <header class="header">
            <h1> PlanMyWeek </h1>
            <div class="logo">
                <img src="./images/ant-vector.png" class="logo-wrapped">
            </div>
            <nav class="menu-items">
                <ul class="menu-list">
                    <li><a href="index.html"> Home </a></li>
                    <li><a href="about-us.html"> About Us </a></li>
                    <li><a href="index.html"> Log out</a></li>
                </ul>
            </nav>
        </header>
        
        <h1>
            Create your own schedule - hassle free!
        </h1>
        <div class="about-us-img">
            <img src="./images/cute-smiling-brain.png" class="cute-brain-wrapped">
        </div>
        <p>
            For those busybodies who want to manually make their own schedule - you go boss!
        </p>

        <p></p>

        <form id="work-schedule-form" method="POST" action="">
            <label for="DayOfWeek">Work Schedule:</label>
            <select id="DayOfWeek" name="DayOfWeek" required>
                <option value="weekday8-4">Weekday 8am-4pm</option>
                <option value="weekday9-5" selected> Weekday 9am-5pm</option>
                <option value="weekday12-9"> Weekday 12pm-9pm</option>
                <option value="weekend10-7"> Weekend 10am-7pm</option>
                <option value="weekend7-3"> Weekend 7am-3pm</option>
                <option value="weekend12-9"> Weekend 12pm-9pm</option> 
            </select>
        </form>

        <form id="goal-form" method="POST" action="">
            <label for="goalName">Goal Name:</label>
            <input type="text" id="goalName" name="goalName" required>
            <p></p>
            <label for="frequency">Frequency:</label>
            <select id="frequency" name="frequency" required>
                <option value="daily">Daily</option>
                <option value="twice"> Twice a week</option>
                <option value="thrice"> Three times a week</option>
                <option value="four"> Four times a week</option>
                <option value="five"> Five times a week</option>
                <option value="six"> Six times a week</option>
                <option value="weekly">Weekly</option>
            </select>
            <p></p>
            <label for="settime">Consistent Time:</label>
            <select id="settime" name="settime" required>
                <option value="6a">6am</option>
                <option value="7a"> 7am</option>
                <option value="8a"> 8am</option>
                <option value="9a"> 9am</option>
                <option value="10a"> 10am</option>
                <option value="11a"> 11am</option>
                <option value="12p">12pm</option>
                <option value="1p">1pm</option>
                <option value="2p"> 2pm</option>
                <option value="3p"> 3pm</option>
                <option value="4p"> 4pm</option>
                <option value="5p"> 5pm</option>
                <option value="6p"> 6pm</option>
                <option value="7p">7pm</option>
                <option value="8p">8pm</option>
                <option value="9p"> 9pm</option>
                <option value="10p"> 10pm</option>
                <option value="11p"> 11pm</option>
            </select>
            <br><button>Add another goal</button>
        </form>

        <form id="task-form" method="POST" action="">
            <label for="taskName">Task Name:</label>
            <input type="text" id="taskName" name="taskName" required>
            <p></p>
            <label for="deadline">Deadline:</label>
            <select id="deadline" name="deadline" required>
                <option value="mon">Monday</option>
                <option value="tues"> Tuesday</option>
                <option value="wed"> Wednesday</option>
                <option value="thurs"> Thursday</option>
                <option value="fri"> Friday</option>
                <option value="sat"> Saturday</option>
                <option value="sun">Sunday</option>
            </select>
            <p></p>
            <label for="time">Time:</label>
            <select id="time" name="time" required>
                <option value="6a">6am</option>
                <option value="7a"> 7am</option>
                <option value="8a"> 8am</option>
                <option value="9a"> 9am</option>
                <option value="10a"> 10am</option>
                <option value="11a"> 11am</option>
                <option value="12p">12pm</option>
                <option value="1p">1pm</option>
                <option value="2p"> 2pm</option>
                <option value="3p"> 3pm</option>
                <option value="4p"> 4pm</option>
                <option value="5p"> 5pm</option>
                <option value="6p"> 6pm</option>
                <option value="7p">7pm</option>
                <option value="8p">8pm</option>
                <option value="9p"> 9pm</option>
                <option value="10p"> 10pm</option>
                <option value="11p"> 11pm</option>
            </select>    
        </form>

        <a href="./loading.html"><button class="button-56" role="button"> Create Calendar! </button></a>

        <footer>
            <div class="footer-image">
                <img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped">
            </div>
            <h3>Quick Links</h3>
                <div class="footer-links">
                    <a href="./index.html" style="color: #00215E ;">Home | </a><a href="./signin.html" style="color: #00215E;">Sign In | </a><a href="./about-us.html" style="color: #00215E;">About Us | </a><a href="./contact-us.html" style="color: #00215E;">Contact Us</a>
                </div>
            <p></p>
            <div class="footer-bottom">
                &copy; 2024 PlanMyWeek | Designed by Samira Hamadneh
            </div>
        </footer>
    </body>
</html>