<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> PlanMyWeek</title>
        <link rel="icon" type="image/png" href="./images/ant-vector.png">
        <link rel="stylesheet" href="./stylesheet.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="jquery-3.7.1.min.js"></script>
        <script src="../app/app.js"></script>
    </head>

    <body>
        <header class="header">
            <h1> PlanMyWeek </h1>
            <div class="logo">
                <img src="./images/ant-vector.png" class="logo-wrapped">
            </div>
            <nav class="menu-items">
                <ul class="menu-list">
                    <li><a href="index.html"> Home </a></li>
                    <li><a href="about-us.html"> About Us </a></li>
                    <li><a href="signin.html"> Sign in/Sign up</a></li>
                </ul>
            </nav>    
        </header>

        <h3>
            Say goodbye to chaos and hello to zen!
        </h3>
        <div class="zen-woman-img">
            <img src="./images/zen-woman-vector.png" alt="woman feeling the zen" class="zen-woman-wrapped"/> 
        </div> 

        <div class="home-description-container">
            <div class="homepage-description">
                <p>
                    No more missing deadlines, skipping gym sessions, or feeling overwhelmed.
                    <br/> With our personalised calendar generator, PlanMyWeek helps you master the art of time management, turning you into a productivity powerhouse! 
                    <br/> Get ready to crush your goals, de-stress, and reclaim your free time - all while feeling like you've got a personal assistant in your pocket.
                </p>    
            </div>
        </div>
        <div class="brain-heart-img">
            <img src="./images/happy-mind-and-heart.png"alt="calm and happy brain and heart" class="brain-heart-wrapped"/> 
        </div>

        <div class="scrollToTop" title="ScrollToTop">
            <button> &uarr; </button>
        </div>

        <div class="home-text-container">
            <p>
                Because everyone deserves a little more "me time" and a lot more "I got this!" in their lives.
            </p>
        </div>   

        <div>
            <a href="./signin.html"><button class="button-home" role="button"> GET STARTED! </button></a>
        </div>
 
        <footer>
            <div class="footer-image">
                <img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped"><img src="./images/ant-trail-headerfooter.png" alt="ant" class="ant-wrapped">
            </div>
            <h3>Quick Links</h3>
                <div class="footer-links">
                    <a href="./index.html" style="color: #00215E ;">Home | </a><a href="./signin.html" style="color: #00215E;">Sign In | </a><a href="./about-us.html" style="color: #00215E;">About Us | </a><a href="./contact-us.html" style="color: #00215E;">Contact Us</a>
                </div>
            <p></p>
            <div class="footer-bottom">
                &copy; 2024 PlanMyWeek | Designed by Samira Hamadneh
            </div>
        </footer>

    </body>
</html>
