<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> PlanMyWeek</title>
        <link rel="icon" type="image/png" href="./images/ant-vector.png">
        <link rel="stylesheet" href="./stylesheet.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script>
            setTimeout(function() {
                window.location.href = "./calendar.html";
            }, 3000);
        </script>
    </head>

    <body>
        
        <div id="loading">
            <img id="loading-image" src="./images/cute-ant-vector.png" alt="Loading..." />
        </div>
        <p class="center">Generating your weekly planner...</p>
    </body>
 
</html>